@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-weight: 400;
    font-family: Inter;
    src: url('../assets/fonts/Inter-Regular.woff2');
}

@font-face {
    font-weight: 500;
    font-family: Inter;
    src: url('../assets/fonts/Inter-Medium.woff2');
}

@font-face {
    font-weight: 600;
    font-family: Inter;
    src: url('../assets/fonts/Inter-SemiBold.woff2');
}

* {
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 140%;
    box-sizing: border-box;
    letter-spacing: -0.01em;
    border: 0px solid transparent;
    color: rgb(68, 70, 83);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
    color: rgb(35, 34, 43);
    font-weight: 500;
}

html {
    font-size: 62.5% !important;
    font-family: Inter, sans-serif !important;
}