<footer>
    <div style="border-bottom: 1px solid #e6e5ee; padding: 1.5rem 1.25rem;">
        <h2 style="font-size: 17px;">Kluxpay</h2>

        <p style="margin-top: 0.5rem; font-size: 14px;">
            &copy; Kluxpay, LLC.
            <br />
            The No.1 crypto app for africans
        </p>
    </div>

    <div style="padding: 0.75rem 1.25rem;">
        <img style="color: #4b4a23; width: 32px; height: 32px;"
            src="https://ci3.googleusercontent.com/meips/ADKq_NaMsqZ4_4xffJN1EdPhp5AxVM-fzs0x5iIsgzEzkLwVpaM7FD1aa54UhW5ZTnMR0ljjaRwo-9yeGpH8M3BtDTsrTbR7galHTOCGMQsGWY_M0OKURZ_7md6r-5QgZcakh9xc0fUXjnTWMHLOWLk-9QKpc5IZrKh7NIkUDHF3GITD=s0-d-e1-ft#https://braze-social-icons.s3.amazonaws.com/social-networks-icon-sets/t-only-logo-dark-gray/twitter@2x.png" />
        <img style="color: #4b4a23; width: 32px; height: 32px; margin-left: 0.75rem;"
            src="https://ci3.googleusercontent.com/meips/ADKq_NaAI9ucJ20N7cb3fvBqKyBJtGMjF11cOpD7vR46ojxCDBVITgYRjN6oHefwwxSpzni_bzdSuogEuW6vufYu9q7ihup1Ie6HIfGv9dHkVADkiWs4Fw8QX-A_ywv76hhseRr8UZ7CQ2xGeHlzjVDm2PblxKxUaNvj3EWC0og8pGy0om4=s0-d-e1-ft#https://braze-social-icons.s3.amazonaws.com/social-networks-icon-sets/t-only-logo-dark-gray/instagram@2x.png" />
        <img style="color: #4b4a23; width: 32px; height: 32px; margin-left: 0.75rem;"
            src="https://ci3.googleusercontent.com/meips/ADKq_NYdbO8kV8_RZpgpBZxhJtTI7HIvBovW533eQxsOydqWhCsrVnjOxYQ23LNwJOmpm9R5eAH9_RYAptwAL8QHPoRYIXRAzYa-qNhnGZ-Jsj2_sZoLzwjevBvcvL6MdjY6mZ9LZJmt6ifhWelDBezLU-M0UrMCrQbv02R-BknEeXus8g=s0-d-e1-ft#https://braze-social-icons.s3.amazonaws.com/social-networks-icon-sets/t-only-logo-dark-gray/linkedin@2x.png" />
    </div>
</footer>
</div>
</div>
</body>

</html>