<footer>
    <div style="border-bottom: 1px solid #e6e5ee; padding: 0px 20px;">
        <h2 style="font-size: 14px; font-weight: 600;">Kluxpay</h2>

        <p style="margin-top: 12px; font-size: 13px;">
            &copy; Kluxpay, LLC.
        </p>

        <p style="margin-top: 6px; font-size: 13px;">
            Your No.1 P2P app
        </p>
    </div>

    <div style="margin: 8px 0px;"></div>

    <div style="max-width: fit-content; margin: 0px auto; padding: 8px 20px;">
        <a href="#">
            <img style="width: 24px; height: 24px; border-radius: 999px; overflow: clip;"
                src="https://img.icons8.com/?size=100&id=p62ASPK2Kpqp&format=png&color=000000" />
        </a>
        <a href="#"
            style="margin-left: 16px;">
            <img style="width: 24px; height: 24px; border-radius: 999px; overflow: clip;"
                src="https://img.icons8.com/?size=100&id=Xy10Jcu1L2Su&format=png&color=000000" />
        </a>
        <a href="#"
            style="margin-left: 16px;">
            <img style="width: 24px; height: 24px; border-radius: 999px; overflow: clip;"
                src="https://img.icons8.com/?size=100&id=yoQabS8l0qpr&format=png&color=000000" />
        </a>
    </div>
</footer>
</div>
</div>
</body>

</html>