{{> header}}
<section style="padding: 2rem 1.25rem;">
    <h2 style="font-size: 24px;">
        {{title}}
    </h2>

    <p style="margin-top: 0.5rem;">
        Hello {{name}}!
    </p>

    <p style="margin-top: 2rem;">
        Your recent trade ID: {{tradeId}} with {{traderName}} has been cancelled.
    </p>

    <p style="margin-top: 2rem;">
        We’re sorry for any inconvenience this might have caused. But don’t worry – there are plenty of traders
        ready to help you complete your next trade!
    </p>

    <h3 style="margin-top: 2rem;">Here’s what you can do next:</h3>

    <ul style="padding: 0rem 1.25rem; margin-top: 0.5rem;">
        <li>
            <span>Browse new trade offers <a href={{url}}>Marketplace</a></span>
        </li>
        <li>
            <span>Contact support if you have questions about this cancellation.</span>
        </li>
    </ul>

    <p style="margin-top: 2rem;">Thanks for choosing {{platform}} for your crypto trades.</p>


</section>
{{> footer}}