{{> header}}

<div style="padding: 0px 20px; margin-top: 20px;">
    <h1 style="font-size: 24px;">
        You’re officially a member!
    </h1>

    <p style="margin-top: 12px; font-size: 17px;">
        Your email has been verified, and we’re thrilled to have you on board! You’re now ready to unlock everything
        Kluxpay has in store for you.
    </p>
</div>

<div style="padding: 0px 20px; margin-top: 40px;">
    <h2>Here’s what’s next:</h2>
    <ul style="margin-top: 12px; padding: 0px 12px; list-style-type: none;">
        <li>
            👉 Log in to your account
        </li>
        <li>
            👉 Post an offer
        </li>
        <li>
            👉 Get ready to trade
        </li>
    </ul>
</div>

<div style="margin-top: 20px; padding: 0px 20px;">
    <h3 style="font-size: 17px;">Trade faster & better.</h3>
</div>

{{> footer}}