{{> header}}
<section style="padding: 2rem 1.25rem;">
    <h1 style="font-size: 24px;">Your Trade has started</h1>

    <p style="margin-top: 20px;">
        Hi,
    </p>

    <p style="margin-top: 40px;">Your trade has been fully funded and {{amount}} {{coinSymbol}} is now in escrow. You
        can begin your trade</p>

    <h3 style="margin-top: 2rem;">Here’s what you need to do:</h3>

    <ul style="padding: 0rem 1.25rem; margin-top: 0.5rem; list-style-type:decimal">
        <li>
            <span>Do not reply to this email. Use the trade chat to chat with your partner privately.</span>
        </li>
        <li>
            <span>Send the seller a message to let them know you're ready. You can message them here.{{url}}</span>
        </li>
        <li>
            <span>Read and follow the trade instructions. Once you've made your payment, click Paid.</span>
        </li>
        <li>
            <span>
                If the seller is unresponsive, click Cancel and find a more responsive seller.
            </span>
        </li>
    </ul>

    <p style="margin-top: 20px;">
        You have {{timeout}} minutes until escrow expires. After that, you'll need to start a new trade.
    </p>

    <a href="{{url}}"
        class="btn"
        style="margin-top: 32px; display: block;">
        Open Trade
    </a>

    <p style="margin-top: 40px;">Thanks for choosing {{platform}} for your crypto trades.</p>


</section>
{{> footer}}