{{> header}}

<div style="padding: 0px 20px; margin-top: 40px;">
    <h1 style="font-size: 24px;">You just signed in.</h1>

    <p style="font-size: 16px; margin-top: 12px;">We're happy to see you again! Your login was successful, and you’re
        all set to continue where you left off.</p>
</div>

<h2>Time:</h2>
<p>{{time}}</p>

<div style="padding: 0px 20px; margin-top: 32px;">
    <p style="font-size: 14px">If this wasn’t you, please reset your password or contact support immediately.</p>
</div>

{{> footer}}