{{> header}}

<main style="padding: 0px 20px; margin-top: 40px;">
    <h1 style="font-size: 24px;">Hello, you just signed in.</h1>

    <p style="font-size: 17px; margin-top: 12px;">Good to see have again at Kluxpay, happy Trading</p>
</main>

<div>
    <h1 style="font-size: 17px; margin-top: 40px; padding: 0px 20px;">Device data</h1>
    <div style="width: 100%; padding: 12px 20px; background-color: #eee; margin-top: 8px;">
        <p style="font-size: 14px;">{device}</p>
    </div>
</div>

<div style="padding: 0px 20px; margin-top: 32px;">
    <p style="font-size: 17px">If this wasn’t you, please reset your password immediately.</p>
</div>

{{> footer}}