{{> header}}
<section style="padding: 2rem 1.25rem;">
    <h2 style="font-size: 24px;">
        {{title}}
    </h2>

    <p style="margin-top: 0.5rem;">
        {{label}}, use this code:
    </p>

    <p
        style="width: 100%; background-color: #eee; border-radius: 8px; padding: 12px 24px; font-size: 21px; text-align: center; margin-top: 2rem;">
        {{code}}
    </p>

    <p style="margin-top: 2rem;">
        This code is valid for 5 minutes. For your safety, do not share this code with anyone. If you’re having
        trouble or didn’t request this, reach out to our customer support agents.
    </p>

    <h3 style="margin-top: 2rem;">We’re always here to help!</h3>
</section>
{{> footer}}