{{> header}}
<section style="padding: 2rem 1.25rem;">
    <h2 style="font-size: 24px;">
        {{title}}
    </h2>

    <p style="margin-top: 0.5rem;">
        Hello {{name}}! We’re letting you know that your password was successfully reset. If you made this change,
        you don’t need to do anything else.
    </p>

    <p style="margin-top: 2rem;">
        <strong>Didn’t reset your password?</strong> No problem - contact support or lock your account.
    </p>

    <p style="margin-top: 2rem;">Stay safe {{name}}!</p>
</section>
{{> footer}}