{{> header}}
<section style="padding: 2rem 1.25rem;">
    <h1 style="font-size: 24px;">Hello <span style="text-transform: capitalize;">{{name}}</span>,</h1>

    <p style="margin-top: 20px;">Thank you for reaching out to KluxPay!</p>

    <p style="margin-top: 20px;">We’ve received your support request and will begin reviewing it shortly. Please stay
        tuned for further updates.
    </p>

    <p style="margin-top: 20px;"> We appreciate your patience while we work on this.</p>

    <p style="margin-top: 40px;">
        Best regards,
        <br />
        We’re honored to serve you!
    </p>
</section>
{{> footer}}