{{> header}}
<section style="padding: 2rem 1.25rem;">
    <h1 style="font-size: 24px;">
        Trade will be cancelled soon
    </h1>

    <p style="margin-top: 20px;">
        Hi,
    </p>

    <p style="margin-top: 40px;">Your trade with {{username}} for {{amount}} {{coinSymbol}} is almost expired</p>

    <a href="{{url}}"
        class="btn"
        style="margin-top: 32px; display: block;">
        Open Trade
    </a>

    <p style="margin-top: 40px;">Thanks for choosing Kluxpay for your crypto trades.</p>


</section>
{{> footer}}