{{> header}}
<section style="padding: 2rem 1.25rem;">
    <h1 style="font-size: 24px;">
        New Trade Request
    </h1>

    <p style="margin-top: 20px;">
        Hi,
    </p>

    <p style="margin-top: 40px;">
        {{username}} wants to {{caption}}.
    </p>

    <p style="margin-top: 20px;">
        The cryptocurrency is already in escrow (the amount shown below includes fees).
    </p>

    <a href="https://kluxpay.com/app/trades/{{tradeId}}"
        class="btn"
        style="margin-top: 32px; display: block;">
        Open Trade
    </a>

</section>
{{> footer}}