{{> header}}
<section style="padding: 2rem 1.25rem;">
    <h1 style="font-size: 24px;">
        Trade successful
    </h1>

    <p style="margin-top: 20px;">
        Hi,
    </p>

    <p style="margin-top: 40px;">
        Congratulations {{amount}} {{coinSymbol}} has {{caption}}.
    </p>



    <a href="{{url}}"
        class="btn"
        style="margin-top: 32px; display: block;">
        Open Trade
    </a>

    <p style="margin-top: 40px;">
        We hope to see you again soon.
    </p>
</section>
{{> footer}}