{{> header}}
<section style="padding: 2rem 1.25rem;">
    <h1 style="font-size: 24px;">
        The Trade was cancelled
    </h1>

    <p style="margin-top: 20px;">
        Hi,
    </p>

    <p style="margin-top: 40px;">
        Your {{badge}} has canceled this trade. We've released {{amount}} {{coinSymbol}} from escrow back into your
        wallet.
    </p>

    <a href="{{url}}"
        class="btn"
        style="margin-top: 32px; display: block;">
        Open Trade
    </a>

    <p style="margin-top: 40px;">
        Don't worry, any crypto that was moved into escrow will be returned to your wallet shortly.
    </p>
</section>
{{> footer}}