{{> header}}
<section style="padding: 2rem 1.25rem;">
    <h1 style="font-size: 24px;">
        Trade marked as paid
    </h1>

    <p style="margin-top: 20px;">
        Hi,
    </p>

    <p style="margin-top: 40px;">
        {{username}} has marked the <a href="{{url}}">Trade</a> has paid. Verify the payment and release the
        cryptocurrency.
    </p>

    <a href="{{url}}"
        class="btn"
        style="margin-top: 32px; display: block;">
        Open Trade
    </a>
</section>
{{> footer}}