{{> header}}
<section style="padding: 2rem 1.25rem;">
    <h2 style="font-size: 24px;">
        Registration complete 🎉
    </h2>

    <p style="margin-top: 0.5rem;">
        Welcome to {{platform}}! We’re so excited you’ve joined {{firstName}}.
    </p>

    <h3 style="margin-top: 2rem;">Here’s how to get started:</h3>

    <ul style="padding: 0rem 1.25rem; margin-top: 0.5rem;">
        <li>
            <span>Log in to your account</span>
        </li>
        <li style="margin-top: 0.2rem;">
            <span>Verify your account</span>
        </li>
        <li style="margin-top: 0.2rem;">
            <span>Trade your digital tokens</span>
        </li>
        <li style="margin-top: 0.2rem;">
            <span>Send or receive tokens</span>
        </li>
    </ul>

    <p style="margin-top: 2rem;">If you need assistance, we’re just an email away.</p>
</section>
{{> footer}}